<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KnowAny.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF8A5EB82088AC5E006BCE0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF8A5ED02088AC60006BCE0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF8A5EDB2088AC60006BCE0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
